@use '../../../assets/styles/main.scss' as global;

#checkout-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .checkout-header-title {
    font-weight: 600;
    font-size: 1.3rem;
    color: global.$primary-orange;
  }
}
